.home__page {
  display: flex;
  text-align: center;
  height: fit-content;
}

.column__centr {
  width: 50%;
  background-color: #008000;
  order: 2;
}

.column__left {
  width: 25%;
  background-color: #3826dd;
  order: 1;
}

.column__right {
  width: 25%;
  background-color: #e41a10;
  order: 3;
}
